<!--<div class="container">-->
  <h3><button (click)="toggleVisibility()" style="font-size:16px ;background:none; border:none; color: #2fa4e7" class="toggleButton">{{visible? "&#9660;":"&#9658;"}}</button>
    <a (click)="toggleVisibility()">Efficiency</a></h3>
  <app-error-box *ngIf="showInvalidMessage" [title] = "'Efficency Test Failed: '" [msg] = "data.msg" (close)="closeInvalidMessage()" [hidden] = "!visible"></app-error-box>
  <ul class="list-group" *ngIf="data.success" [hidden] = "!visible">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let sdRes of data.sdresult; let i = index;">
      Lottery {{i+1}}:
      <div>
        <div class="badge badge-pill btn {{getBadgeClass(sdRes)}} tooltipDiv">
        SD {{getBadgeString(sdRes)}}
        <span class="tooltiptext" *ngIf="!sdRes.success">
          <!--Error: {{sdRes.msg}}-->
          Lottery is probably SD-Efficient.<br/>
          (up to numerical inaccuracy)
        </span>

        <span class="tooltiptext" *ngIf="sdRes.success && !sdRes.efficient">
          Dominated by: <br/>
          <div *ngFor="let prob of sdRes.dominator; let j = index;">
            {{getDomText(prob,j)}}
          </div>
        </span>

        <span class="tooltiptext" *ngIf="sdRes.success && sdRes.efficient">
          Lottery is SD-Efficient.
        </span>

      </div>
        <div class="badge badge-pill btn {{getBadgeClass(data.pcresult[i])}} tooltipDiv">
        PC {{getBadgeString(data.pcresult[i])}}
        <span class="tooltiptext" *ngIf="!data.pcresult[i].success">
          <!--Error: {{sdRes.msg}}-->
          Lottery is probably PC-Efficient. <br/>
          (up to numerical inaccuracy)
        </span>

        <span class="tooltiptext" *ngIf="data.pcresult[i].success && !data.pcresult[i].efficient">
          Dominated by: <br/>
          <div *ngFor="let prob of data.pcresult[i].dominator; let j = index;">
            {{getDomText(prob,j)}}
          </div>
        </span>

        <span class="tooltiptext" *ngIf="data.pcresult[i].success && data.pcresult[i].efficient">
          Lottery is PC-Efficient.
        </span>

      </div>
      </div>
    </li>
  </ul>
  <br/>
<!--</div>-->
