<!--<div class="arrow-up"></div>
-->
<div>
  <canvas
      baseChart
      [chartType]="'horizontalBar'"
      [options]="chartOptions"
      [legend]="true"
      height="100%">
  </canvas>


  <canvas style="width:100%;height:50px;" class="canv" #chartRef>
  </canvas>

  <br/>
  <button class="btn btn-primary" (click)="runElection()">Run Election</button>

  <div *ngIf="electionWinner.length > 0">
    <br/>
    <h5>Winner:</h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"
            style="text-align:center"
            *ngFor="let winner of electionWinner;">{{winner}}</li>
    </ul>
  <div>
</div>
