<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button type="button" class="btn btn-primary btn-sm" (click) = "openNav()">ⓘ</button>
</nav>
<!-- The overlay -->
<div id="infoScreen" class="overlay">

  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn" (click) = "closeNav()">&times;</a>

  <!-- Overlay content -->
  <div class="overlay-content">
    <div>
      Maximal lotteries is an attractive randomized voting rule, first considered by Germaine Kreweras in 1965 and independently proposed by Peter C. Fishburn in 1984.
    </div>
    <br>
    <div>
      Please see <a href="https://en.wikipedia.org/wiki/Maximal_lotteries">Wikipedia</a> or these presentations (<a href="http://dss.in.tum.de/files/brandt-research/voting_slides.pdf">Practical&nbsp;Voting&nbsp;Rules</a>, <a href="http://dss.in.tum.de/files/brandt-research/fishburn_slides.pdf">Maximal&nbsp;Lotteries</a>) for more information.
    </div>
    <br>
    <!--<div *ngIf="advancedMode == false">-->
      <!--You can find the professional version of this tool here: <a href="http://pro.voting.ml/">pro.voting.ml</a>-->
    <!--</div>-->
    <div>
      Other websites for computing maximal lotteries are: <a href="https://pnyx.dss.in.tum.de/">Pnyx</a>, <a href="http://votation.ovh/">votation.ovh</a>.
    </div>
    <br>
    <div>This website was created by Dominik&nbsp;Spies, <a href= "http://dss.in.tum.de/staff/christian-stricker.html">Christian&nbsp;Stricker</a>, <a href= "http://dss.in.tum.de/staff/brandl.html">Florian&nbsp;Brandl</a>, and <a href= "http://dss.in.tum.de/staff/brandt.html">Felix&nbsp;Brandt</a> and is maintained by the <a href= "http://dss.in.tum.de/">Chair for Decision Sciences & Systems</a> at <a href= "http://www.tum.de/">Technische Universität München</a>.
    </div>
  </div>



</div>
<app-profile [model] = "model" [advancedMode] = "advancedMode"></app-profile>
<app-result-visualization [advancedMode] = "advancedMode" [model] = "model"></app-result-visualization>
<hr class="my-4">
<div align="center"> <a href="https://votingtool.github.io/">Source on GitHub</a> · 2018 · <a href="http://dss.in.tum.de/">Decision Sciences &amp; Systems</a> · <a href="http://www.tum.de/">Technische Universität München</a>  </div>
