<div style="margin: 2vw 1vw 1vw 2vw;">
  <h3><button class="btn btn-info" (click) = "randomizePreferences()">Random</button> Preferences with <input [disabled]="model.majorityMatrixIsDirty" class="form-control"
    (input)="onCandidateNumberUpdate()" id="numberOfCandidates"
    type="Number" min="{{profileOptions.minNumber}}" max="{{profileOptions.maxNumber}}" step="1" value="4"
    name="numberOfCandidates" [(ngModel)]="profileOptions.numberOfCandidates"
    style="width:6em;display: inline;"/> alternatives</h3>
  <div #scrollContainer class="row" style="overflow:scroll; width:90%;">
    <div class="d-flex flex-row flex-nowrap" >
      <app-profile-box class="card card-block bg-primary" style="width: 10.8rem; margin-right:5px; display:inline-block" *ngFor="let profile of model.profiles; let i = index"  [model] = "model" [index] = "i"></app-profile-box>
      <button (click) = "onAddVoter()" class="btn btn-success" [disabled]="model.majorityMatrixIsDirty">+</button>
    </div>
  </div>

</div>

<hr class="my-4">
<div style="margin: 2vw 1vw 1vw 2vw;">
  <app-majority-matrix [model] = "model"></app-majority-matrix>
</div><br/>
