<div style="margin: 2vw 1vw 1vw 2vw;">
  <h3><button (click)="toggleVisibility()" style="font-size:16px ;background:none; border:none; color: #2fa4e7" class="toggleButton">{{visible? "&#9660;":"&#9654;"}}</button>
    <button class="btn btn-primary  btn-sm" title="Pro tip: Hold SHIFT or double-click to get a random profile without a Condorcet winner!" (click) = "randomizePreferences($event)" (dblclick)= "randomizePreferencesDoubleClick()">Random</button>
    <a (click)="toggleVisibility()">Preferences of</a>
      <input [disabled]="model.majorityMatrixIsDirty" class="form-control"
             (input)="onVoterNumberInputFieldUpdate()" id="numberOfVoters"
             type="Number" min=1 step="1" value="3"
             name="numberOfVoters" [(ngModel)]="model.numberOfVoters"
             style="width:4em;display: inline;"
             (click)="selectEverything()"
             pattern="[0-9]*"/>
    <a (click)="toggleVisibility()">voters over </a>
    <input [disabled]="model.majorityMatrixIsDirty" class="form-control"
    (input)="onCandidateNumberUpdate()" id="numberOfCandidates"
    type="Number" min="{{profileOptions.minNumber}}" max="{{profileOptions.maxNumber}}" step="1" value="4"
    name="numberOfCandidates" [(ngModel)]="profileOptions.numberOfCandidates"
    style="width:4em;display: inline;"
    (click)="selectEverything()"
    pattern="[0-9]*"/>
    <a (click)="toggleVisibility()"> alternatives</a></h3>
  <div #scrollContainer class="row" style="overflow:scroll; width:90%;" [hidden] = "!visible">
    <div class="d-flex flex-row flex-nowrap" >
      <app-profile-box class="card card-block bg-primary" style="width: 10.8rem; margin-right:5px; display:inline-block" *ngFor="let profile of model.profiles; let i = index"  [model] = "model" [index] = "i"></app-profile-box>
      <button (click) = "onAddVoter()" class="btn btn-success" [disabled]="model.majorityMatrixIsDirty">+</button>
    </div>
  </div>

</div>

<!--<hr class="my-4">-->
<div style="margin: 2vw 1vw 1vw 2vw;">
  <app-majority-matrix [model] = "model"></app-majority-matrix>
</div><br/>
